@model IEnumerable<WEB.Ecommerce.Models.Mensagem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MensagenId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MensagenId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MensagenId })
        </td>
    </tr>
}

</table>
