@model WEB.Ecommerce.Models.Categoria

@{
    ViewBag.Title = "Browse";
}

<h2>Browse</h2>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<div>
    <div class="row">
        @foreach (var item in Model.Produtos)
        {

            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@item.ImageUrl" width="150" height="150" alt="">
                    <div class="caption">
                        <h4>
                            <a href="#">@Html.ActionLink(item.Nome, "Details", new { ID = item.ProdutoId })</a>
                        </h4>
                        <p>@item.Descricao</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">15 reviews</p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>


