@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using WEB.Ecommerce.Models
@model IEnumerable<WEB.Ecommerce.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @{
        var usuario = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        if (!string.IsNullOrEmpty(User.Identity.Name))
        {
            var VendedorCorrent = usuario.FindByEmail(User.Identity.Name).Vendedor;
            if (VendedorCorrent)
            {
            <p>@Html.ActionLink("Novo Produto", "Create", new { @class = "btn btn-default btn-primary" })</p>
            }
        }
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendedor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendedor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ProdutoId }, new { @class = "btn btn-default btn-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.ProdutoId }, new { @class = "btn btn-default btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ProdutoId }, new { @class = "btn btn-default btn-danger" })
        </td>
    </tr>
}

</table>
